Source: python3-volexity-gostrap
Maintainer: Threat Intel Team <threatintel@volexity.com>
Homepage: https://gitlab.research.volexity.com/threat-intel
Section: python
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-python,
               pybuild-plugin-pyproject,
               python3-all,
               python3-hatchling,
               python3-hatch-vcs,
               lsb-release,
Standards-Version: 4.1.1
Vcs-Git: https://gitlab.research.volexity.com/threat-intel/gostrap.git
Vcs-Browser: https://gitlab.research.volexity.com/threat-intel/gostrap

Package: python3-volexity-gostrap
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: GoStrap is a tool to easily bootstrp GO samples using a set of GO libraries and GO versions.
